configuration {
	modi:                       "drun,run,filebrowser";
    show-icons:                 false;
	drun-display-format:        "{name} [<span weight='light' size='small'><i>({generic})</i></span>]";
	window-format:              "{w} · {c} · {t}";
}

@theme "gruvbox-dark-hard"
